body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.alert{
  visibility: hidden;
  transition-delay: 500;
  color: red;
  font-family: cursive;
  font-weight: bold;
}
.highlight{
  visibility: visible;
}
.collection-item:hover{
  background: yellowgreen;
  cursor: pointer;
}

